.main-text span,
.main-button a:hover,
.section-header span,
.content-section-1 span,
.item-list span,
.price-btn a,
.price-area:hover .rate-item p,
.contact-item span,
.soc-bar a:hover {
	color: #00d619;
}

.main-button a,
.circle,
.price-area:hover .price-item,
.price-area:hover .price-btn a {
	background: #00d619;
}

.main-button a,
.price-area:hover .price-btn a {
	border: 1px solid #00d619;
}

.rectangle,
.rectangle1 {
	border-bottom: 2px solid #00d619;
}